#progressbar #event:before {
    font-family: FontAwesome;
    content: "\f016"
}

#progressbar #template:before {
    font-family: FontAwesome;
    content: "\f008"
}

#progressbar #datasheet:before {
    font-family: FontAwesome;
    content: "\f0ce"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}
.title-hint{
    margin:0px 0px 20px 0px;
}