{% extends 'base.html' %}
{% load filters %}
{% block content %}
{% load static %}
<script src="{% static 'js/certificate-generate.js' %}"></script>

{% csrf_token %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event</th>
      <th scope="col">Template</th>
      <th scope="col">Data Sheet</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% if events %}
    {% for event in events %}
    <tr>
        <th scope="row">{{ event.id }}</th>
        <td>{{ event.name }}</td>
        <td>
            <span data-toggle="tooltip" title="{{ event.template.description}}">
                {{ event.template.name }}
            </span>
            {% if event.template.tokens %}
            <div>
                <small class="text-muted">
                (keys: {{ event.template.tokens|csv }})
                </small>
            </div>
            {% endif %}
        </td>
        <td>
            <span data-toggle="tooltip" title="{{ event.datasheet.description}}">
            {{ event.datasheet.name }}
            </span>
            {% if event.datasheet.tokens %}
            <div>
                <small class="text-muted">
                (keys: {{ event.datasheet.tokens|csv }})
                </small>
            </div>
            {% endif %}
        </td>
        <td id="status_{{ event.id }}">{{ event.status }}</td>
        <td>
            <div id="action_{{ event.id }}" style="height: 40px;">
            {% if event.status == settings.EVENT_STATUS.CERTIFICATE_GENERATED %}
            <a href="/certificates/generated" class="btn btn-primary">Details</a>
            <a href="javascript:generate_certificate({{ event.id }})">Regenerate</a>
            {% elif event.status == settings.EVENT_STATUS.READY_TO_GENERATE %}
            <button onclick="generate_certificate({{ event.id }})" class="btn btn-primary">Generate</button>
            {% elif event.status == settings.EVENT_STATUS.INVALID_DATA_KEYS %}
            <a href="/certificates/setup/{{ event.id }}#datasheet" class="btn btn-danger">Fix it</a>
            {% elif event.status == settings.EVENT_STATUS.MISMATCHING_KEYS %}
            <a href="/certificates/setup/{{ event.id }}#template" class="btn btn-danger">Fix it</a>
            {% elif event.status == settings.EVENT_STATUS.PENDING_PAYMENT %}
            Payment Pending
            {% elif event.status == settings.EVENT_STATUS.PENDING_DATASHEET %}
            <a href="/certificates/setup/{{ event.id }}#datasheet" class="btn btn-warning">Complete Setup</a>
            {% elif event.status == settings.EVENT_STATUS.PENDING_TEMPLATE %}
            <a href="/certificates/setup/{{ event.id }}#template" class="btn btn-warning">Complete Setup</a>
            {% endif %}
            </div>
        </td>

{#      <td>#}
{#          {% for data_key in certificate.data_keys.all %}#}
{#              {{ data_key.name }}: {{ data_key.value }}{% if not forloop.last %},{% endif %}#}
{#          {% endfor %}#}
{#      </td>#}
{#      <td>#}
{#          <a href="/services/certificates/download/{{ certificate.file }}">#}
{#              {{ certificate.file }}</a>#}
{#          <a href="{{ MEDIA_URL }}{{ certificate.file }}" download>{{ certificate.file }}</a>#}
{#      </td>#}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="6">
            No records found
        </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<!-- Modal -->
 <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         Certificates generated successfully
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
{% endblock %}