{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/wizard.css'%}" rel="stylesheet">
<link href="{% static 'css/certificate-setup.css'%}" rel="stylesheet">
<script src="{% static 'js/wizard.js' %}"></script>
<script src="{% static 'js/certificate-setup.js' %}"></script>
{#<link href="{% static 'css/lib/font-awesome' %}" rel="stylesheet">#}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- MultiStep Form -->
<form id="msform">
    <!-- progressbar -->
    <ul id="progressbar" style="padding-left:0px;">
        <li class="active" id="event"><strong>Event</strong></li>
        <li id="template"><strong>Template</strong></li>
        <li id="datasheet"><strong>Data Sheet</strong></li>
        <li id="confirm"><strong>Finish</strong></li>
    </ul> <!-- fieldsets -->
    <fieldset>
        {% include 'certificates\event_information.html' with event=event %}
    </fieldset>
    <fieldset>
        {% include 'certificates\event_template.html' with event=event templates=templates%}
    </fieldset>
    <fieldset>
        {% include 'certificates\event_datasheet.html' with event=event datasheets=datasheets%}
    </fieldset>
    <fieldset>
        <div class="form-card">
            <h2 class="fs-title text-center">Success !</h2> <br><br>
            <div class="row justify-content-center">
                <div class="col-3 text-center"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" /> </div>
            </div> <br><br>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    <h5>You Have Successfully Set Up a New Certificate</h5>
                </div>
            </div>
        </div>
    </fieldset>
</form>


{% endblock %}