{% extends 'base.html' %}
{% load filters %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event</th>
{#      <th scope="col">Template</th>#}
      <th scope="col">Count</th>
      <th scope="col">Generated</th>
      <th scope="col">SMS Present</th>
      <th scope="col">Email Present</th>
      <th scope="col">SMS Sent</th>
      <th scope="col">Email Sent</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% if events %}
    {% for event in events %}
    <tr>
        <th scope="row">{{ event.id }}</th>
        <td>{{ event.name }}</td>
{#        <td>#}
{#            <span data-toggle="tooltip" title="{{ event.template.description}}">#}
{#                {{ event.template.name }}#}
{#            </span>#}
{#            {% if event.template.tokens %}#}
{#            <div>#}
{#                <small class="text-muted">#}
{#                (keys: {{ event.template.tokens|csv }})#}
{#                </small>#}
{#            </div>#}
{#            {% endif %}#}
{#        </td>#}
        <td>{{ event.awardee_count }}</td>
        <td>{{ event.certificate_generated_count }}</td>
        <td>{{ event.sms_available_count }}</td>
        <td>{{ event.email_available_count }}</td>
        <td>{{ event.sms_sent_count }}</td>
        <td>{{ event.email_sent_count }}</td>
        <td>
            <a href="/events/{{ event.id }}/certificates" class="btn btn-primary">Details</a>
        </td>

{#      <td>#}
{#          {% for data_key in certificate.data_keys.all %}#}
{#              {{ data_key.name }}: {{ data_key.value }}{% if not forloop.last %},{% endif %}#}
{#          {% endfor %}#}
{#      </td>#}
{#      <td>#}
{#          <a href="/services/certificates/download/{{ certificate.file }}">#}
{#              {{ certificate.file }}</a>#}
{#          <a href="{{ MEDIA_URL }}{{ certificate.file }}" download>{{ certificate.file }}</a>#}
{#      </td>#}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="9">
            No records found
        </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}