{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Certify</title>

    <script src="{% static 'js/lib/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>


    <!-- Bootstrap CSS -->
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css'%}" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">{%  tenant_name %}</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <span class="navbar-brand col-md-3 col-lg-1 me-0 px-4" href="#">{{ user.first_name }} {{ user.last_name }}</span>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/services/logout">Sign out</a>
        </div>
      </div>
    </header>


    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% if content_title == settings.CONTENT_TITLE.DASHBOARD %}active{% endif %}" aria-current="page" href="/">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item border-top">
                <a class="nav-link {% if content_title == settings.CONTENT_TITLE.TEMPLATES %}active{% endif %}" href="/templates">
                  <span data-feather="file"></span>
                  Templates
                </a>
              </li>
              <li class="nav-item border-top">
                <a class="nav-link {% if content_title == settings.CONTENT_TITLE.CERTIFICATES %}active{% endif %}" href="/certificates">
                  <span data-feather="layers"></span>
                  Certificates
                </a>
                <ul class="nav-item flex-column">
                  <li class="nav-item">
                    <a class="nav-link {% if content_title == settings.CONTENT_TITLE.CERTIFICATE_SETUP %}active{% endif %}" aria-current="page" href="/certificates/setup">
                      <span data-feather="file-plus"></span>
                      Setup a new Certificate
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if content_title == settings.CONTENT_TITLE.CERTIFICATE_GENERATE %}active{% endif %}" aria-current="page" href="/certificates/generate">
                      <span data-feather="cpu"></span>
                      Generate Certificates
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item border-top">
                <a class="nav-link {% if content_title == settings.CONTENT_TITLE.EMPLOYEES %}active{% endif %}"  href="/employees">
                  <span data-feather="users"></span>
                  Employees
                </a>
              </li>
              <li class="nav-item border-top">
                <a class="nav-link {% if content_title == settings.CONTENT_TITLE.REPORTS %}active{% endif %}"  href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>

            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ content_title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
{#              <div class="btn-group me-2">#}
{#                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>#}
{#                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>#}
{#              </div>#}
{#              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">#}
{#                <span data-feather="calendar"></span>#}
{#                This week#}
{#              </button>#}
            </div>
          </div>
          {% block content %}
          {% endblock content %}
        </main>
      </div>
    </div>

    <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/lib/feather.min.js' %}" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>#}
{#    <script src="https://getbootstrap.com/docs/5.0/examples/dashboard/dashboard.js"></script>#}
    <script src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>