{% extends 'base.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/public-dashboard.css'%}" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div onclick="window.location='{% url 'mycertificates' %}'" class="col-md-3 col-sm-6 col-xs-12 cursor-hand">
            <div class="mini-stat clearfix bg-certificates rounded">
                <span class="mini-stat-icon"><i class="fa fa-certificate fg-certificates"></i></span>
                <div class="mini-stat-info">
                    <span>{{ certificate_count }}</span>
                    Certificate Count
                </div>
            </div>
        </div>
        <div onclick="window.location='{% url 'mycertificates' %}'" class="col-md-3 col-sm-6 col-xs-12 cursor-hand">
            <div class="mini-stat clearfix bg-issuer rounded">
                <span class="mini-stat-icon"><i class="fa fa-users fg-issuer"></i></span>
                <div class="mini-stat-info">
                    <span>{{ issuer_count }}</span>
                    Issuer Count
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-download rounded">
                <span class="mini-stat-icon"><i class="fa fa-download fg-download"></i></span>
                <div class="mini-stat-info">
                    <span>{{ download_by_awardee_count }}</span>
                    Times Downloaded By You
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-eye rounded">
                <span class="mini-stat-icon"><i class="fa fa-eye fg-eye"></i></span>
                <div class="mini-stat-info">
                    <span>{{ download_by_public_count}}</span>
                    Times Viewed By Public
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}